//-------------------------------------------------------------------------------------------------
//  PATH : ../../../mui/scss/
//
//  ###_main.scss 파일을 실제 사용할 파일 명으로 변경 후 html 에서 href 시킴.
//
//  - 단축 용어에 대한 것은 주석으로 구분 할 수 있게 한다.
//    ex ) fld = Form FielD , exm = EXample Module 등등
//  - 선택자는 되도록이면 복잡하지 않고 심플하게 구성한다. (상속 문제 등등)
//  - 일반화 된 클래스명을 사용하지 않는다. (중복 가능성 있는)
//-------------------------------------------------------------------------------------------------

// ##Base
@import 
  '../../mui/scss/base/variables',
  '../../mui/scss/base/mixins',
  '../../mui/scss/base/extends',
  '../../mui/scss/base/reset';

// ##Customize Variables
$min-width : 951px;
$design-width : 2560px;

$root-em : 24px;

// ##Components
@import 
  '../../mui/scss/components/buttons',
  '../../mui/scss/components/embed',
  '../../mui/scss/components/form',
  '../../mui/scss/components/typography';

// ##Layout
@import 
  '../../mui/scss/layout/common';

// ##Modules
@import 
  '../../mui/scss/modules/modal',
  '../../mui/scss/modules/animations';

//-------------------------------------------------------------------------------------------------
//  프로젝트 별 Scss Import
//  @import 순서 
//  (https://sass-guidelin.es/ko/#section-51)
//  1. vendors/
//  2. utils/
//  3. base/
//  4. layout/
//  5. components/
//  6. pages/
//  7. themes/
//-------------------------------------------------------------------------------------------------
